.formControl{

}
.formControl.errorBorder textarea{
    border: 2px solid red;
}
.formControl.errorBorder input{
    border: 2px solid red;
}
.formControl.errorBorder span{
    color: red;
    display: block;
}