.my_post{
    text-align: left;
    border: 1px solid #2a2626;
    margin-bottom: 20px;
    padding: 10px;
}
.my_post img{
    width: 60px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
}
.message{
    display: inline-block;
    vertical-align: top;
}